/*Root*/
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');html { background-color: white; font-family: 'Orbitron';}body { color: white;}h1 { color: #f50a0a; }.g7 { color: #ff0000; }.btn { border: none; width: 200px; height: 30px; outline: none; color: #fff; background: #111; cursor: pointer; position: relative; font-family: Orbitron; z-index: 0; border-radius: 10px;}.btn:before { content: ''; background: linear-gradient(45deg, #ff0000, #002bff, #7a00ff, #ff00c8, #ff0000); position: absolute; top: -2px; left:-2px; background-size: 400%; z-index: -1; filter: blur(5px); width: calc(100% + 4px); height: calc(100% + 4px); animation: glowing 20s linear infinite; opacity: 0; transition: opacity .3s ease-in-out; border-radius: 10px;}.btn:active { color: #000;}.btn:active:after { background: transparent;}.btn:hover:before { opacity: 1;}.btn:after { z-index: -1; content: ''; position: absolute; width: 100%; height: 100%; background: #111; left: 0; top: 0; border-radius: 10px;}@keyframes glowing { 0% { background-position: 0 0; } 50% { background-position: 400% 0; } 100% { background-position: 0 0; }}
@import url('https://fonts.googleapis.com/css?family=Courier+Prime|IBM+Plex+Mono|Josefin+Slab|Teko&display=swap');

:root {
  --bg-color: #f5f5f5;
  --bg-color2: #040404;
  --font-color: #222;
  --font-color-2: #57269f;
  --font-color-3: #c0c0c0;
  --font-color-4: #fff;
}
[data-tema=dark] {
  --bg-color: #17171C;
  --bg-color2: #f5f5f5;
  --font-color: #fff;
  --font-color-2: #57269f;
  --font-color-3: #c0c0c0;
  --font-color-4: #fff;
}

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body{
  padding: 30px;
  color: #fff;
  color: var(--font-color);
  background-color: var(--bg-color);
}

/*Centralizar conteúdo*/
html {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Header*/
header{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1rem;
}
header img{
  height: 125px;
  width: 125px;
  border-radius: 50%;
  margin-bottom: 30px;    
}
header p{
  font-size: 120%;
  color: var(--font-color-3);
}

/*Cards sociais*/
section article{
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 auto;
}
section article a{
  text-decoration: none;
  flex-basis: 200px;
  justify-content: space-between;
  flex-grow: 1;
  margin: 20px;
}
section article div{
  min-height: 100px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border: 3px solid var(--bg-color);
}
section article div:hover{
  border: 3px solid var(--bg-color2);
}
section article div .iconify{
  font-size: 26px;
  margin-bottom: 10px;
  color: #fff;
}
section article div h3{
  text-align: center;
  line-height: 23px;
  font-weight: 500;
  font-size: 16px;
  color: var(--font-color-4);
}

/*Card PIX*/
#pix{
  max-width: 600px;
  margin: 25px auto;
}
#pix article{
  margin: 20px;
  background-color: #1871bc;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#pix article h2, 
#pix article p, 
#pix article h4{
  color: #fff;
  font-weight: 600;
}
#pix article p{
  margin: 15px 0px;
  font-size: 1.1rem;
}
#pix article h4{
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 1.3rem;
}
#pix article button{
  background-color: #02eddd;
  border: 0;
  border-radius: 8px;
  padding: 10px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
}
#pix article button:hover{
  background-color: #02eddd;
  cursor: pointer;
}

/*Dark mode*/
.mudar-tema-wrapper {
  display: flex;
  justify-content: flex-end;
}
.mudar-tema-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}
.mudar-tema {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}
.mudar-tema input {
  display: none;
}
.slider {
  background-color: #0e0e0e;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
  border-radius: 34px;
}
.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #57269f;
}
input:checked + .slider:before {
  transform: translateX(26px);
}
.slider svg {
  color: #fff;
  position: absolute;
  transition: opacity 0.2s ease 0s, transform 0.35s ease 0s;
  pointer-events: none;
}
.efeito-lua {
  opacity: 0;
  left: 9px;
  bottom: 9px;
  transform: translateX(4px);
}
.efeito-sol {
  opacity: 1;
  right: 10px;
  bottom: 9px;
  transform: translateX(0px);
}
input:checked + .slider .efeito-lua {
  opacity: 1;
  transform: translateX(0);
}
input:checked + .slider .efeito-sol {
  opacity: 0;
  transform: translateX(-4px);
}
.mudar-tema-wrapper {
  display: flex;
  align-items: center;
}
.mudar-tema-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}
